.App {
  padding:30px;
  text-align: center;
  width: 300px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.form label{
  align-items: left;
}
table{
  border: 0;

}
table thead{
  background-image: linear-gradient(rgb(176, 103, 224) , rgb(202, 161, 248));
  color:#fff;
  margin: 0;
  padding: 10px;
}
table tr {
  width: 150px
}
